<h1>Contact</h1>
<div class="contact">			
	<p>
	  Thank you for your interest in my work.
	  <br>
	  <br>
	  If you'd like to get in touch with me,
	  <br>
	  you can contact me at:
	  <br>
	  <span class="glyphicon glyphicon-phone-alt"></span> +31 68 1234 972
	  <br>
	  <span class="glyphicon glyphicon-envelope"></span> judeur@gmail.com
	  <br>
	  <span class="glyphicon glyphicon-earphone"></span> skype judeur57
	  <br>
	  <span class="glyphicon glyphicon-thumbs-up"></span> facebook.judeur
	  <br>
	  <br>
	</p>

  <h3>Or you can fill out this form:</h3>

  <%= flash[:notice] %>

  <%= form_tag("/static_pages/thank_you") do %>
  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <%= label_tag :name, "Name" %>
        <%= text_field_tag :name, nil, class: "form-control", placeholder: "Enter name" %>
      </div><!-- form-group -->

      <div class="form-group">
        <%= label_tag :email, "Email" %>
        <%= text_field_tag :email, nil, class: "form-control", placeholder: "Enter email" %>
      </div><!-- form-group -->

      <div class="form-group">
        <%= label_tag :name, "Name" %>
        <%= text_area_tag :message, nil, class: "form-control", placeholder: "Enter message" %>
      </div><!-- form-group -->

    </div> <!-- col -->
  </div> <!-- row -->
  <%= submit_tag "Send" %>
  <% end %>
</div><!-- contact -->
