<h1>Contact</h1>
<div class="contact">			
	<p>
	  Thank you for your interest in my work.
	  <br>
	  <br>
	  If you'd like to get in touch with me,
	  <br>
	  you can contact me at:
	  <br>
	  <span class="glyphicon glyphicon-phone-alt"></span> +31 68 1234 972
	  <br>
	  <span class="glyphicon glyphicon-envelope"></span> judeur@gmail.com
	  <br>
	  <span class="glyphicon glyphicon-earphone"></span> skype judeur57
	  <br>
	  <span class="glyphicon glyphicon-thumbs-up"></span> facebook.judeur
	  <br>
	  <br>
	</p>

  <h3>Or you can fill out this form:</h3>

  <%= flash[:notice] %>

    <%= form_tag("/static_pages/thank_you", :html => { :class => "form-horizontal" }) do %>
      <div class="form-group">
        <div class="field">
            <%= label_tag :name, "Name", class: "col-sm-2 control-label" %>
        <div class="col-sm-10">
              <%= text_field_tag :name, nil, class: "form-control", placeholder: "Enter name" %> <br>
        </div> <!-- col -->
          </div> <!-- field -->
      </div><!-- form-group -->

      <div class="form-group">
        <div class="field">
          <%= label_tag :email, "Email", class: "col-sm-2 control-label" %>
          <div class="col-sm-10">
            <%= text_field_tag :email, nil, class: "form-control", placeholder: "Enter email" %> <br>
            </div><!-- col -->
        </div> <!-- field -->
      </div><!-- form-group -->

      <div class="form-group">
        <div class="field">
          <%= label_tag :message, "Message", class: "col-sm-2 control-label" %>
          <div class="col-sm-10">
            <%= text_area_tag :message, nil, class: "form-control", placeholder: "Enter message" %> <br>
          </div> <!-- col -->
        </div> <!-- field -->
      </div><!-- form-group -->
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
        <%= submit_tag "Send", class: "btn btn-default" %>
      </div>
  <% end %>
  </div> <!-- form-group -->
    </div> <!-- col -->

</div><!-- contact -->
