<div class="row" id="deviseForm">


  <%= form_for(resource, as: resource_name, url: registration_path(resource_name),
               html: { method: :put, class: "form" }) do |f| %>
    <%= devise_error_messages! %>

  <div class="header col-xs-12">
    <h2  class="title"> Edit your profile <%= resource_name.to_s.humanize %></h2>
  </div>

  <div class="content controls col-xs-12">
    <div class="field form-group col-xs-12 p0 pt12 m0">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, class: "form-control" %>
    </div> <!-- field -->

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field form-group col-xs-12 p0 pt12 m0">
    <%= f.label :password %><i> (leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
  </div><!-- field -->

  <div class="field form-group col-xs-12 p0 pt12 m0">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
  </div><!-- field -->

  <div class="field form-group col-xs-12 p0 pt12 m0">
    <%= f.label :current_password %> <i> (we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "off", class: "form-control" %>
  </div><!-- field -->

  <div class="subfooter col-xs-12 pt12">
    <div class="group">
      <div class="actions">
        <%= f.submit "Update", class: "btn btn-info col-xs-5 fr" %>
      </div><!-- actions -->
    </div><!-- group -->
  </div><!-- subfooter -->
<% end %>
  </div> <!-- row -->

  <div class="clear"></div>
    <!-- <h3>Cancel my account</h3> -->
    <h3>Unhappy?</h3> <p><%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" },
                              method: :delete, class: "btn btn-default" %></p>

  <%= link_to "Back", :back, class: "btn btn-default" %>