<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
              data-target="#bs-example-navbar-collapse-1" aria-expanded="false"
              aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "Your favorite bookstore", root_path, class: "navbar-brand" %>

    </div> <!-- navbar-header -->

    <div  class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">


        <li class="<%= 'active' if current_page?(products_path) %>">
          <%= link_to "Books", products_path %> </li>
        <li class="<%= 'active' if current_page?(orders_path) %>">
          <%= link_to "Orders", orders_path %> </li>
        <li class="<%= 'active' if current_page?(about_path) %>">
          <%= link_to "About", about_path %></li>
        <li class="<%= 'active' if current_page?(contact_path) %>">
          <%= link_to "Contact", contact_path %></li>
        <li style="padding-top: 22px;">
          <%= form_tag("/products", method: "get", html: { class: "navbar-form navbar-right" }) do %>
              <%= text_field_tag(:q) %>
              <%= submit_tag("Search", html: { class: "btn btn-default" })%>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li class="<%= 'active' if current_page?(new_user_session_path) %>">
          <% if user_signed_in? %>
              <%= link_to("Logout", destroy_user_session_path, :method => :delete) %>
          <% else %>
              <%= link_to("Login", new_user_session_path) %>
          <% end %>
        </li>
      </ul>
      <% end %>

    </div> <!-- #navbar -->
  </div> <!-- container -->
	</nav> <!-- navbar -->