<%= form_for @product, :html => { :class => "form-horizontal center" } do |f| %>

    <% if @product.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

          <ul>
            <% @product.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="form-group">
      <div class="field">
        <%= f.label :name, class: "col-md-4  control-label" %><br>
        <div class="col-md-8">
          <%= f.text_field :name %>
        </div>  <!-- col -->
      </div><!-- field -->
    </div><!-- form-group -->

    <div class="form-group">
      <div class="field">
        <%= f.label :author, class: "col-md-4 control-label" %><br>
        <div class="col-md-8">
          <%= f.text_field :author %>
        </div>  <!-- col -->
      </div><!-- field -->
    </div><!-- form-group -->

    <div class="form-group">
      <div class="field">
        <%= f.label :description, class: "col-md-4 control-label" %><br>
        <div class="col-md-8">
          <%= f.text_area :description %>
        </div>  <!-- col -->
      </div><!-- field -->
    </div><!-- form-group -->

    <div class="form-group">
      <div class="field">
        <%= f.label :image_url, class: "col-md-4 control-label" %><br>
        <div class="col-md-8">
          <%= f.text_field :image_url %>
        </div>  <!-- col -->
      </div> <!-- field -->
    </div><!-- form-group -->


    <div class="form-group">
      <div class="field">
        <%= f.label :price, class: "col-md-4 control-label" %><br>
        <div class="col-md-8">
          <%= f.text_field :price %>
        </div>  <!-- col -->
      </div><!-- field -->
    </div><!-- form-group -->

    <div class="form-group">
      <div class=" field actions col-md-offset-4 col-md-8">
        <%= f.submit "Submit", class: "btn btn-default btn-primary" %>
      </div><!-- field -->
    </div> <!-- form-group -->
<% end %>