<div class="page-header">
		<h1> Details </h1>
		<p class="lead"> An overview of our outstanding collection of books. </p>
	</div> <!-- page-header -->
	
	<div class="table-responsive">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Name</th>
					<th>Author</th>
					<th>Description</th>
					<th>Image</th>
					<th>Price </th>
				</tr> <!-- col -->
			</thead> <!-- row -->
			<tbody>
				<td><%= @product.name %></td>
				<td><%= @product.author %>
				<td><%= @product.description %></td>
				<td><%= image_tag @product.image_url %></td>
				<td><%= @product.price %></td>
			</tbody>
		</table>
		<%= link_to 'Edit', edit_product_path(@product) %> |
		<%= link_to 'Back', products_path %>
	</div> <!-- table responsive -->