
<div class="row">
  <div class="col-md-5 cols-xs-6 col-sm-6">
    <%= image_tag @product.image_url, class: "img-responsive" %>
  </div> <!-- col -->

  <div class="col-md-6 col-md-offset-1 col-xs-6 col-sm-6">
    <h2> Details </h2>
    <h1> <%= @product.name %> </h1>
    <hr>
  </div><!-- col -->

  <div class="col-md-6 col-md-offset-1 col-xs-6 col-sm-6">
    <div class="row">
      <div class="col-xs-6 col-sm-4 col-md-4">
        <strong>Author</strong>
        <p><%= @product.author %></p>
      </div><!-- col-xs-6 col-sm-4" -->

      <div class="col-xs-6 col-sm-4 col-md-4 col-md-offset-1 col-lg-4 col-lg-offset-0">
        <strong>Description</strong>
        <p><%= @product.description %></p>
      </div><!-- col-xs-6 col-sm-4" -->

      <div class="col-xs-6 col-sm-4 col-md-4">
        <strong>Price</strong>
        <p><%= @product.price %></p>
      </div><!-- col-xs-6 col-sm-4" -->
    </div><!--nested row -->
  </div><!-- col-md-6 -->

</div> <!-- row -->

<div class="row">
  <div class="col-md-9">
    <figure class="highlight">
      <pre>
        <strong>Leave us a comment:</strong>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
          labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
          laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
          voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
          sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
      </pre>
    </figure>
  </div> <!-- col-md-9 -->
</div> <!-- row

  <%= link_to 'Edit', edit_product_path(@product) %> |
		<%= link_to 'Back', products_path %>
	</div> <!-- table responsive -->